div.input_container > div.input_box{
    border: 2px solid var(--laranja);
    background-clip: content-box;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    gap: 2px;
}

div.input_box > input{
    background: transparent;
    color: var(--branco);
    flex: 3;
    border: none;
    font-size: 1rem;
}

div.input_box > input:focus{
    border: none;
    overflow: none;
    box-shadow: none;
    outline: none;
}

div.input_box > button{
    flex: 1;
    border: none;
    padding: 5px;
    display: grid;
    place-content: center;
    background: transparent;
}

div.input_box:focus-within{
    outline: 1px solid white;
    border: 2px solid black !important;
}